$colorPrimary: rgb(51,129,179);
$colorAccent: rgb(255,142,0);
$colorWhite: rgb(255,255,255);
$colorFacebook: rgb(66,103,178);
$colorPrice: rgb(67,67,67);

$gradientcolorleft: rgba(6,190,189,0.6);
$gradientcolormiddle: rgba(8,121,194,0.6);
$gradientcolorright: rgba(8,121,194,0.6);